<h1>Edit Post!</h1>

<form action='<%= post_url(@post) %>' method='POST'>
    <input type="hidden" name="_method" value="PATCH">
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <label>Title:
    <input type='text' name='post[title]' value='<%= @post.title %>'>
  </label>
  <label>URL:
    <input type='text' name='post[url]' value='<%= @post.url %>'>
  </label>
  <br>
  <label>Content:
    <textarea name="post[content]" cols="30" rows="10" value="<%= @post.content %>"></textarea>
  </label>

  <% @subs.each_with_index do |sub, id| %>
    <br>
    <input id="<%= id.to_s %>" type="checkbox" name="post[sub_id]" 
    value="<%= sub.id %>" <%= @post.sub_id == sub.id ? "checked" : "" %>>
    <label for="<%= id.to_s %>"><%= sub.title %></label>
  <% end %>
  <br>
  <input type='submit' value='Submit Post'>
</form>